.pnm-button {
    --bg-color: theme('colors.pnm-secondary.DEFAULT');
    --text-color: theme('colors.white');
    --hover-bg-color: theme('colors.pnm-secondary.80');
    --hover-text-color: theme('colors.white');
    --focus-bg-color: theme('colors.pnm-secondary.80');
    --focus-text-color: theme('colors.white');
    --active-bg-color: theme('colors.pnm-secondary.80');
    --active-text-color: theme('colors.white');

    &.color-accent {
        --bg-color: theme('colors.pnm-accent.DEFAULT');
        --text-color: theme('colors.white');
        --hover-bg-color: theme('colors.pnm-accent.80');
        --hover-text-color: theme('colors.white');
        --focus-bg-color: theme('colors.pnm-accent.80');
        --focus-text-color: theme('colors.white');
        --active-bg-color: theme('colors.pnm-accent.80');
        --active-text-color: theme('colors.white');
    }

    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.15s ease-in-out,
    color 0.15s ease-in-out;
    @apply px-10 py-4 inline-block font-bold text-white leading-none;

    &:hover {
        background-color: var(--hover-bg-color);
        color: var(--hover-text-color);
    }

    &:focus {
        background-color: var(--focus-bg-color);
        color: var(--focus-text-color);
    }

    &:active {
        background-color: var(--active-bg-color);
        color: var(--active-text-color);
    }

    &[class*="pnm-i"] {
        &::after {
            font-family: "IcoFont";
            margin-left: 0.5em;
            font-size: 0.75em;
            display: inline-block;
        }

        &.pnm-i-arrow-right {
            &::after {
                content: "\eaa0";
                transition: 0.125s ease transform;
            }

            &:hover {
                &::after {
                    transform: translateX(0.25em);
                }
            }
        }
    }
}