@import "./loader.scss";
@import "./choicesjs.scss";

.pnm-form {
    --cols: 2;
    --gap: 1rem;
    --col-width: calc(100% / var(--cols) - var(--gap) * (var(--cols) - 1) / var(--cols));

    --accentcolor: theme("colors.pnm-accent.DEFAULT");
    --bgcolor: theme("colors.pnm-accent.10");
    --bgFocuscolor: theme("colors.pnm-accent.20");
    --placeholdercolor: var(--accentcolor);
    --placeholderFocuscolor: var(--accentcolor);

    &.pnm-newsletter-form {
        --accentcolor: theme("colors.pnm-secondary.DEFAULT");
        --bgcolor: theme("colors.pnm-accent.80");
        --bgFocuscolor: white;
        --placeholdercolor: white;
        --placeholderFocuscolor: var(--accentcolor);
    }

    @apply flex flex-wrap;

    gap: var(--gap);

    .pnm-form-group {
        width: var(--col-width);
        @apply flex;

        input[type="text"],
        input[type="email"],
        input[type="tel"],
        input[type="url"],
        input[type="password"],
        input[type="search"],
        input[type="number"],
        input[type="date"],
        input[type="datetime"],
        input[type="datetime-local"],
        input[type="month"],
        input[type="week"],
        input[type="time"],
        textarea,
        select {
            border-bottom-color: var(--accentcolor);
            background-color: var(--bgcolor);
            color: var(--accentcolor);

            @apply w-full p-2 text-sm border-b-2;

            &::placeholder {
                color: var(--placeholdercolor);
            }

            &:focus {
                background-color: var(--bgFocuscolor);
                @apply bg-opacity-100 outline-none;

                &::placeholder {
                    color: var(--placeholderFocuscolor);
                }
            }
        }
    }

    .pnm-form-message {
        @apply px-4 py-3 bg-pnm-secondary text-white text-sm mb-4 w-full font-bold hidden;
    }
}