hr.pnm-hr-accent {
    width: 8rem;
    max-width: 100%;
    border: none;
    border-top: 5px solid;
    margin: 0.75rem 0;
    @apply border-t-pnm-foreground;

    &.heavy {
        border-top-width: 10px;
    }
}