.pnm-content-toggle {
    width: 100%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-radius: 2px;
    transition: 0.25s ease background-color;
    margin-top: -2px;
    @apply py-3 px-2;

    summary {
        .pnm-content-toggle-title {
            max-width: 80%;
            line-height: 1.35;
            @apply font-bold;
        }

        list-style: none;
        cursor: pointer;
        color: black;
    }

    summary::-webkit-details-marker {
        display: none;
    }

    .pnm-content-toggle-icon {
        height: fit-content;
        transition: 0.25s ease transform;
        @apply text-pnm-accent;
    }

    &[open] {
        @apply bg-pnm-accent-10;

        .pnm-content-toggle-summary {
            @apply text-pnm-accent;
        }

        .pnm-content-toggle-icon {
            transform: rotate(-180deg);
        }

        .pnm-content-toggle-content {
            color: black
        }
    }
}

.pnm-content-toggle-wrapper+.pnm-content-toggle-wrapper {
    margin-top: 0 !important;
}