hr.wp-block-separator {
    border: none;
    background: none;
    border-top: 2px solid transparent;
    border-image: linear-gradient(to right, transparent 0%, transparent var(--container-padding), theme("colors.pnm-accent.DEFAULT") var(--container-padding), theme("colors.pnm-accent.DEFAULT") calc(100% - var(--container-padding)), transparent calc(100% - var(--container-padding)), transparent 100%) 1 100%;
    border-image-slice: 1;
}