.wp-block-mathml-mathmlblock {
    overflow-x: auto;

    &::-webkit-scrollbar {
        display: none;
    }

    p+& {
        margin-top: 2rem !important;
        margin-bottom: 2rem !important;
    }

    &+p {
        margin-top: 0 !important;
    }
}