body.page #body-content,
body.single #post-content,
.acf-innerblocks-container {
    >*+* {
        margin-top: 3rem;
    }

    .pnm-page-title,
    .pnm-subnav-container,
    .pnm-social-share-outer,
    .pnm-social-share-outer+*,
    .wp-block-spacer {
        margin-top: 0 !important;
    }

    blockquote.wp-block-quote {
        margin-top: 1.5rem !important;
        margin-bottom: 1.5rem !important;

        &+p {
            margin-top: 0 !important;
            margin-bottom: 0 !important;
        }
    }
}

body.single #post-content {
    :first-child {
        margin-top: 0 !important;
    }
}