$colors: (
    "pnm-accent": #00A09A,
    "pnm-accent-half": #99CECC,
    "pnm-foreground": #222221,
    "pnm-foreground-half": #909090,
    "pnm-secondary": #005286,
    "pnm-tertiary": #F08159,
);


@each $name,
$color in $colors {
    .has-#{$name}-color {
        color: $color;
    }

    .has-#{$name}-background-color {
        background-color: $color;
    }

    .has-#{$name}-border-color {
        border-color: $color;
    }
}