#body-content>*:not(.alignwide):not(.alignfull) {
    --maxwidth: 890px;
    max-width: calc(var(--maxwidth) + var(--container-padding) * 2);
    --container-padding: 2rem;
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
    margin-left: auto;
    margin-right: auto;

    @media (max-width: 980px) {
        --container-padding: 1rem;
    }
}

#body-content *.alignwide {
    max-width: calc(1385px + var(--container-padding) * 2);
    --container-padding: 2rem;
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
    margin-left: auto;
    margin-right: auto;

    @media (max-width: 980px) {
        --container-padding: 1rem;
    }
}

#body-content *.alignfull {
    max-width: calc(1920px + var(--container-padding) * 2);
    --container-padding: 2rem;
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
    margin-left: auto;
    margin-right: auto;

    @media (max-width: 980px) {
        --container-padding: 1rem;
    }
}

.wp-block-group__inner-container>*:not(.alignwide):not(.alignfull) {
    max-width: calc(890px + var(--container-padding) * 2);
    --container-padding: 2rem;
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
    margin-left: auto;
    margin-right: auto;

    @media (max-width: 980px) {
        --container-padding: 1rem;
    }
}

.wp-block-group__inner-container>.alignwide {
    max-width: calc(1385px + var(--container-padding) * 2);
    --container-padding: 2rem;
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
    margin-left: auto;
    margin-right: auto;

    @media (max-width: 980px) {
        --container-padding: 1rem;
    }
}

.wp-block-group__inner-container>.alignfull {
    max-width: calc(1920px + var(--container-padding) * 2);
    --container-padding: 2rem;
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
    margin-left: auto;
    margin-right: auto;

    @media (max-width: 980px) {
        --container-padding: 1rem;
    }
}

.wp-block-group.is-layout-flex>*:not(.alignwide):not(.alignfull) {
    width: 100%;
    max-width: calc(890px + var(--container-padding) * 2);
    --container-padding: 2rem;
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
    margin-left: auto;
    margin-right: auto;

    @media (max-width: 980px) {
        --container-padding: 1rem;
    }
}

.wp-block-group.is-layout-flex>.alignwide {
    width: 100%;
    max-width: calc(1385px + var(--container-padding) * 2);
    --container-padding: 2rem;
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
    margin-left: auto;
    margin-right: auto;

    @media (max-width: 980px) {
        --container-padding: 1rem;
    }
}

.wp-block-group.is-layout-flex>.alignfull {
    width: 100%;
    max-width: calc(1920px + var(--container-padding) * 2);
    --container-padding: 2rem;
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
    margin-left: auto;
    margin-right: auto;

    @media (max-width: 980px) {
        --container-padding: 1rem;
    }
}

.alignfull .alignwide,
.alignfull .alignfull {
    --container-padding: 0px !important;
}

.wp-block-group.is-layout-flex:has(.wp-block-group.is-layout-flex)>*,
.is-layout-flow:has(.is-layout-flow)>*,
.is-layout-flow .wp-block-group__inner-container>* {
    padding: 0 !important;
}

.single {
    #body-content>*:not(.alignwide):not(.alignfull) {
        max-width: calc(680px + var(--container-padding) * 2);
        --container-padding: 2rem;
        padding-left: var(--container-padding);
        padding-right: var(--container-padding);
        margin-left: auto;
        margin-right: auto;

        @media (max-width: 480px) {
            --container-padding: 1rem;
        }
    }

    #body-content>*.alignwide {
        max-width: calc(952px + var(--container-padding) * 2);
        --container-padding: 2rem;
        padding-left: var(--container-padding);
        padding-right: var(--container-padding);
        margin-left: auto;
        margin-right: auto;

        @media (max-width: 480px) {
            --container-padding: 1rem;
        }
    }
}

.pnm-container {
    --maxwidth: 890px;
    --container-padding: 2rem;
    width: 100%;
    max-width: calc(var(--maxwidth) + var(--container-padding) * 2);
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
    margin-left: auto;
    margin-right: auto;

    &.alignwide {
        --maxwidth: 1385px;
    }

    &.alignfull {
        --maxwidth: 1920px;
    }

    @media (max-width: 980px) {
        --container-padding: 1rem;
    }
}