@import "./fonts/fonts.scss";

$headingtags : ("h1",
    "h2",
    "h3",
    "h4",
    "h5",
    "h6"
);

html {
    --font-family: 'Inter', sans-serif;
    font-size: clamp(18px, 1.157407vw, 24px);
    font-family: var(--font-family);
}

@media (max-width: 1023px) {
    html {
        font-size: 17px;
    }
}

@media (max-width: 380px) {
    html {
        font-size: 16px;
    }
}

body {
    font-family: var(--font-family);
}

@each $tag in $headingtags {
    #{$tag} {
        --font-family: 'Merriweather', serif;
        font-family: var(--font-family);
        font-weight: 900;
        line-height: 1.3;
        margin: 0;
        margin-top: clamp(1.15rem, 1.15em, 2rem);
    }
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

h5 {
    font-size: 1.15rem;
}

h6 {
    font-size: 1rem;
}

@media (max-width: 1023px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.25rem;
    }

    h4 {
        font-size: 1.15rem;
    }

    h5,
    h6 {
        font-size: 1rem;
    }
}

@media (max-width: 639px) {
    @media (max-width: 1023px) {
        h1 {
            font-size: 1.75rem;
        }

        h2 {
            font-size: 1.3rem;
        }

        h3 {
            font-size: 1.15rem;
        }

        h4 {
            font-size: 1.05rem;
        }

        h5,
        h6 {
            font-size: 1rem;
        }
    }
}


// Body defaults

#body-content {
    a {
        text-decoration: underline;

        &.pnm-button,
        &.wp-block-button__link {
            text-decoration: none;
        }
    }

    ul {
        list-style: disc;
        margin-left: 1.5em;
        padding-left: calc(var(--container-padding) * 2) !important;
        @apply my-4;
    }

    p+p {
        margin-top: 1em !important;
    }

    @each $tag in $headingtags {
        #{$tag}+p {
            margin-top: 1.5em !important;
        }

        p+#{$tag} {
            margin-top: 1.5em !important;
        }

        @each $secTag in $headingtags {
            @if $tag !=$secTag {
                #{$tag}+#{$secTag} {
                    margin-top: 0.75em !important;
                }
            }
        }
    }
}

// Home Defaults
.home #body-content {
    @each $tag in $headingtags {
        #{$tag} {
            a {
                text-decoration: none;
            }
        }
    }
}


::selection {
    color: theme("colors.pnm-accent.DEFAULT");
    background-color: theme("colors.pnm-accent.20");
}